body {
    background-color: #181A1B;
    color: #DDDCD9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 35pt;
}
img{
    display: flex;
    margin-left: auto;
    margin: auto;
    
    width: 30%;
    height: 30%;
}
li {
    margin: 5px;
}
a {
    color: #DDDCD9;
    text-decoration: none;
    margin: 5px;
}
.links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin: auto;
    color: #DDDCD9;
    /* text-decoration: none; */
    font-size: 20pt;
}